# [04/28] 파이썬 1일차 실습예제

In [ ]:
1+1

2

In [ ]:
a = 10

In [ ]:
print(a)

10

In [ ]:
a = 100

In [18]:
if a > 10:
    print(a)
    print(a+1)
print("done")

done

In [20]:
for a in [1, 2, 3]:
    for b in [10, 20, 30]:
        if a != 2:
            print(b)
    print(a)
print("done")

10
20
30
1
2
10
20
30
3
done

In [28]:
for a in [1, 2, 3]:
    for b in [10, 20, 30]:
        if (a == 1 and b != 10) or (a == 2 and b != 20) or (a == 3 and b != 30):
            print(b)
    print(a)
print("done")

20
30
1
10
30
2
10
20
3
done

In [29]:
# 위의 코드랑 같음
for a in [1, 2, 3]:
    for b in [10, 20, 30]:
        if a*10 != b:
            print(b)
    print(a)
print("done")

20
30
1
10
30
2
10
20
3
done

In [35]:
i, a = 0, 0

while True:
    print(a)
    if i < 5:
        i += 1 # i = i+1
    else:
        break

print("done")

0
0
0
0
0
0
done

In [36]:
i, a = 0, 0

while i < 5:
    print(a)
    i += 1

print("done")

0
0
0
0
0
done

In [66]:
# 1,2,2,3,3,3,4,4,4,4 -> 출력물이 이렇게 똑같이 나오게
# 빈 리스트 생성
lst = []

# 숫자 만큼 순회하여 리스트에 저장
for i in range(1,5):
    for j in range(i):
        lst.append(i)

# 리스트 문자열로 만들고 공백 제거
answer = str(lst).replace(" ", "")

# 문자열 슬라이싱 및 출력
print(answer[1:-1])

1,2,2,3,3,3,4,4,4,4