# [04/29] 파이썬 3일차 실습예제

In [124]:
members = ['윤하원','손형민','오수성','박지원','조재홍',
           '이재권','이상욱','강호현','정송희','서민지',
           '이랑','백지윤','류효주','이재현','김종현',
           '이대현','이효재','두소진','이득규','김재헌',
           '김준영','김영경']

In [125]:
"""
len(members) == 22
members[2058%22:2059%22+1] -> 류효주
"""

members[(2025+4+29)%len(members):((2025+4+29)%len(members)+1)]

['류효주']

In [126]:
def abc(rad):
    param = rad + pi
    return param

pi = 1
param = 0
print(abc(10))

11

# members 리스트에서 '김'씨만 출력

In [127]:
answer = []
for name in members:
    if name[0] == '김':
        answer.append(name)
print(answer)

['김종현', '김재헌', '김준영', '김영경']

In [128]:
for name in members:
  print(f'안녕하세요~ 제 이름은 {name}입니다.', end= "\t")

안녕하세요~ 제 이름은 윤하원입니다.	안녕하세요~ 제 이름은 손형민입니다.	안녕하세요~ 제 이름은 오수성입니다.	안녕하세요~ 제 이름은 박지원입니다.	안녕하세요~ 제 이름은 조재홍입니다.	안녕하세요~ 제 이름은 이재권입니다.	안녕하세요~ 제 이름은 이상욱입니다.	안녕하세요~ 제 이름은 강호현입니다.	안녕하세요~ 제 이름은 정송희입니다.	안녕하세요~ 제 이름은 서민지입니다.	안녕하세요~ 제 이름은 이랑입니다.	안녕하세요~ 제 이름은 백지윤입니다.	안녕하세요~ 제 이름은 류효주입니다.	안녕하세요~ 제 이름은 이재현입니다.	안녕하세요~ 제 이름은 김종현입니다.	안녕하세요~ 제 이름은 이대현입니다.	안녕하세요~ 제 이름은 이효재입니다.	안녕하세요~ 제 이름은 두소진입니다.	안녕하세요~ 제 이름은 이득규입니다.	안녕하세요~ 제 이름은 김재헌입니다.	안녕하세요~ 제 이름은 김준영입니다.	안녕하세요~ 제 이름은 김영경입니다.

In [129]:
# check 가 1일때의 인덱스 값에 맞는 members 이름 출력
check = [1,0,1,1,0,
         1,0,0,0,1,
         1,1,0,0,1,
         1,1,0,0,1,
         1,0]

lst = []
idx = 0
for cnt in check:
    if cnt == 1:
        lst.append(members[idx])
    idx += 1

print(lst)

['윤하원', '오수성', '박지원', '이재권', '서민지', '이랑', '백지윤', '김종현', '이대현', '이효재', '김재헌', '김준영']

In [130]:
# index 함수 사용
check = [1,0,1,1,0,
         1,0,0,0,1,
         1,1,0,0,1,
         1,1,0,0,1,
         1,0]

answer = []
for name in members:
    if check[members.index(name)] == 1:
        answer.append(name)

print(answer)

['윤하원', '오수성', '박지원', '이재권', '서민지', '이랑', '백지윤', '김종현', '이대현', '이효재', '김재헌', '김준영']

# enumerate, zip 함수, 사용자 함수

In [131]:
# enumerate
check = [1,0,1,1,0,
         1,0,0,0,1,
         1,1,0,0,1,
         1,1,0,0,1,
         1,0]

for idx, name in enumerate(members):
    if check[idx] == 1:
        print(name)

윤하원
오수성
박지원
이재권
서민지
이랑
백지윤
김종현
이대현
이효재
김재헌
김준영

In [132]:
# zip 함수 사용
for name, chk in zip(members, check):
    if chk ==1 :
        print(name)

윤하원
오수성
박지원
이재권
서민지
이랑
백지윤
김종현
이대현
이효재
김재헌
김준영

In [133]:
# 사용자 함수
def find_checked_names(names, checks):
  retNames = []
  for n, c in zip(names, checks):
    if c == 1:
      retNames.append(n)
  return retNames

ret = find_checked_names(members, check)
print(ret)

['윤하원', '오수성', '박지원', '이재권', '서민지', '이랑', '백지윤', '김종현', '이대현', '이효재', '김재헌', '김준영']

In [134]:
def find_checked_names(names, checks, num=1):
  retNames = []
  for n, c in zip(names, checks):
    if c == num:
      retNames.append(n)
  return retNames

ret = find_checked_names(members, check)
print(ret)
ret = find_checked_names(members, check, 1)
print(ret)
ret = find_checked_names(members, check, 0)
print(ret)

['윤하원', '오수성', '박지원', '이재권', '서민지', '이랑', '백지윤', '김종현', '이대현', '이효재', '김재헌', '김준영']
['윤하원', '오수성', '박지원', '이재권', '서민지', '이랑', '백지윤', '김종현', '이대현', '이효재', '김재헌', '김준영']
['손형민', '조재홍', '이상욱', '강호현', '정송희', '류효주', '이재현', '두소진', '이득규', '김영경']

In [ ]:
# 직각삼각형 정수 변의 길이 찾기

In [ ]:
# 직각삼각형 뽑기
# 1~ 30
# 30*2 -> 900
from math import sqrt
zp = 0
answer = []
for i in range(1,30):
    for j in range(1,30):
        zp = i**2 + j**2
        # zp 의 제곱근이 양수이고, 30 미만인지 확인하고 맞으면 리스트에 i,j,z append
        if sqrt(zp).is_integer() and (sqrt(zp) < 30): #  float
            answer.append([i, j, int(sqrt(zp))])  # int로 변환해서 저장

print(answer)

[[3, 4, 5], [4, 3, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 6, 10], [8, 15, 17], [9, 12, 15], [10, 24, 26], [12, 5, 13], [12, 9, 15], [12, 16, 20], [15, 8, 17], [15, 20, 25], [16, 12, 20], [20, 15, 25], [20, 21, 29], [21, 20, 29], [24, 7, 25], [24, 10, 26]]

In [136]:
# 직각삼각형 뽑기
# 정수르 저장하는 메모리를 할당해 줘야 함...
# 중첩된 값 제거됨
# 1~ 30
# 30*2 -> 900
from math import sqrt
zp = 0
answer = []

# 시간복잡도 n * (1/2)*n -> O(N^2)
for i in range(1,30):
    for j in range(i,30): # 중첩된 값 제거됨
        zp = i**2 + j**2
        # zp 의 제곱근이 양수이고, 30 미만인지 확인하고 맞으면 리스트에 i,j,z append
        if sqrt(zp).is_integer() and (sqrt(zp) < 30): #  float
            answer.append([i, j, int(sqrt(zp))])  # int로 변환해서 저장

print(answer)

[[3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 15, 17], [9, 12, 15], [10, 24, 26], [12, 16, 20], [15, 20, 25], [20, 21, 29]]

In [137]:
zp = 0
answer = []

# 시간복잡도 n * (1/2)*n -> O(N^2)
for i in range(1,30):
    for j in range(i,30): # 중첩된 값 제거됨
        z = (i**2 + j**2)**(1/2)
        zi = int(z)
        if ((z==zi) and z < 30):
            answer.append([i,j,zi])

print(answer)

[[3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 15, 17], [9, 12, 15], [10, 24, 26], [12, 16, 20], [15, 20, 25], [20, 21, 29]]

In [138]:
# 리스트 컴프리헨션
# 최적화된 코드라 더 좋음
rtgs = [[x,y,z] for x in range(1,30)
                for y in range(x,30)
                for z in range(y, 30) if (x*x + y*y == z*z)]
print(rtgs)

[[3, 4, 5], [5, 12, 13], [6, 8, 10], [7, 24, 25], [8, 15, 17], [9, 12, 15], [10, 24, 26], [12, 16, 20], [15, 20, 25], [20, 21, 29]]

# 3. 리스트에서 가장 많이 등장한 숫자와 등장 횟수 세기

In [17]:
# 방법 1
# 리스트 생성: 0~19 + 0~4 + 1~19 홀수
# count 함수 기억하기
testlst = [x for x in range(20)] + [x for x in range(5)] + [x for x in range(1, 20, 2)]

# 중복 제거 후 정렬
test = sorted(list(set(testlst)))

# 등장 횟수를 저장할 리스트
cntlst = []

# 최종 답을 저장할 리스트
answer = []

# 각 숫자가 testlst에서 몇 번 나왔는지 카운트
cntlst = [testlst.count(x) for x in test]

# 가장 많이 등장한 횟수 찾기
m = max(cntlst)

# 가장 많이 등장한 숫자의 인덱스들 찾기
idxlst = [index for index, val in enumerate(cntlst) if val == m]

# 인덱스를 이용해 해당 숫자들(answer)을 모으기
for idx in idxlst:
    answer.append(test[idx])

# 최종 출력: 가장 많이 등장한 숫자 리스트와 등장 횟수
print(answer, m)

[1, 3] 3

In [14]:
# 방법 2 -> 리스트 컴프리헨션 연습

print([sorted(list(set(([x for x in range(20)] + [x for x in range(5)] + [x for x in range(1,20,2)]))))[idx]
       for idx in [index for index, val in enumerate([([x for x in range(20)] + [x for x in range(5)] + [x for x in range(1,20,2)]).count(x)
       for x in sorted(list(set([x for x in range(20)] + [x for x in range(5)] + [x for x in range(1, 20, 2)])))])
       if val == max([([x for x in range(20)] + [x for x in range(5)] + [x for x in range(1,20,2)]).count(x)
       for x in sorted(list(set([x for x in range(20)] + [x for x in range(5)] + [x for x in range(1, 20, 2)]
)))])]], max([([x for x in range(20)] + [x for x in range(5)] + [x for x in range(1,20,2)]).count(x)
       for x in sorted(list(set([x for x in range(20)] + [x for x in range(5)] + [x for x in range(1, 20, 2)]
)))]))

[1, 3] 3

In [8]:
# 방법 3
testlst = [x for x in range(20)] + [x for x in range(5)] + [x for x in range(1,20,2)]
used = []
for i in testlst:
  if i not in used:
    used.append(i)

def find_maxValue_maxCount(lst):
  maxValue = 0
  maxCnt = 0
  for i in set(lst):
    if maxCnt <= lst.count(i):
      maxCnt = lst.count(i)
      maxValue = i
  return maxValue, maxCnt
print(find_maxValue_maxCount(testlst))

(3, 3)

In [18]:
# 방법 4
# 리스트 생성: 0~19 + 0~4 + 1~19 홀수
testlst = [x for x in range(20)] + [x for x in range(5)] + [x for x in range(1, 20, 2)]

# 중복 제거 후 정렬

def find_maxValue_maxCount(lst):
    test = sorted(list(set(lst)))

    # 등장 횟수를 저장할 리스트
    cntlst = []
    # 최종 답을 저장할 리스트
    answer = []

    # 각 숫자가 lst 몇 번 나왔는지 카운트
    cntlst = [lst.count(x) for x in test]

    # 가장 많이 등장한 횟수 찾기
    m = max(cntlst)
    # 가장 많이 등장한 숫자의 인덱스들 찾기
    idxlst = [index for index, val in enumerate(cntlst) if val == m]
    # 인덱스를 이용해 해당 숫자들(answer)을 모으기
    for idx in idxlst:
        answer.append(test[idx])

    return answer, m

print(find_maxValue_maxCount(testlst))

([1, 3], 3)

# 프로그래머스 2문제 풀기

# 1. 둘만의 암호

## 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/155652

## 문제 설명
- 두 문자열 s와 skip, 그리고 자연수 index가 주어질 때, 다음 규칙에 따라 문자열을 만들려 합니다. 암호의 규칙은 다음과 같습니다.

- 문자열 s의 각 알파벳을 index만큼 뒤의 알파벳으로 바꿔줍니다.
- index만큼의 뒤의 알파벳이 z를 넘어갈 경우 다시 a로 돌아갑니다.
- skip에 있는 알파벳은 제외하고 건너뜁니다.
- 예를 들어 s = "aukks", skip = "wbqd", index = 5일 때, a에서 5만큼 뒤에 있는 알파벳은 f지만 [b, c, d, e, f]에서 'b'와 'd'는 skip에 포함되므로 세지 않습니다. - 따라서 'b', 'd'를 제외하고 'a'에서 5만큼 뒤에 있는 알파벳은 [c, e, f, g, h] 순서에 의해 'h'가 됩니다.
- 나머지 "ukks" 또한 위 규칙대로 바꾸면 "appy"가 되며 결과는 "happy"가 됩니다.

- 두 문자열 s와 skip, 그리고 자연수 index가 매개변수로 주어질 때 위 규칙대로 s를 변환한 결과를 return하도록 solution 함수를 완성해주세요.

In [19]:
def solution(s, skip, index):
    answer = ""
    strskip = [x for x in skip]
    asci = 0

    # 123이 97 124가 98
    # s를 index만큼 변환하고 없으면 바꿈. 있으면 그대로, 97 ~ 122 소문자 알파벳 아스키코드
    for st in s:
        asci = ord(st)
        tmp = index
        while tmp>0: # index가 0이 될때까지
            # skip에 있을때 카운트 하지 않음
            asci += 1
            if asci > 122:
                asci = 97 + (asci - 123)
            if chr(asci) in strskip:
                continue
            else:
                tmp -= 1
        answer += chr(asci)

    return answer

s, skip, index = "aukks", "wbqd", 5
print(solution(s, skip, index))

happy

In [25]:
print([0 for x in range(5)])

[0, 0, 0, 0, 0]

# 2. 정사각형으로 만들기
# 링크 : https://school.programmers.co.kr/learn/courses/30/lessons/181830
## 문제 설명
- 이차원 정수 배열 arr이 매개변수로 주어집니다. arr의 행의 수가 더 많다면 열의 수가 행의 수와 같아지도록 각 행의 끝에 0을 추가하고, 열의 수가 더 많다면 행의 수가 열의 수와 같아지도록 각 열의 끝에 0을 추가한 이차원 배열을 return 하는 solution 함수를 작성해 주세요.

In [28]:
def solution(arr):
    col = len(arr) # 열의 수
    row = len(arr[0]) # 행의 수
    answer = []
    if row > col: # 열의 수가 행과 같아지도록 각 행의 끝에 0을 추가
        add = row - col
        zeroarr = [0 for x in range(row)]
        for _ in range(add):
                arr.append(zeroarr)
        answer = arr

    elif col > row:
        add = col - row
        for idx, _ in enumerate(arr):
            for _ in range(add):
                arr[idx].append(0)
        answer = arr

    else: # 둘이 같을 때
        answer = arr

    return answer

arr = [[572, 22, 37], [287, 726, 384], [85, 137, 292], [487, 13, 876]]
print(solution(arr))

[[572, 22, 37, 0], [287, 726, 384, 0], [85, 137, 292, 0], [487, 13, 876, 0]]